In [1]:
import numpy as np
import pandas as pd

In [2]:
dataframe_new=pd.DataFrame(np.arange(10).reshape(5,2),['a','b','c','d','e'],["Column1","Column2"])

In [3]:
dataframe_new

   Column1  Column2
a        0        1
b        2        3
c        4        5
d        6        7
e        8        9

In [4]:
dataframe_new[0]

KeyError: 0

In [5]:
dataframe_new.loc['a']

Column1    0
Column2    1
Name: a, dtype: int32

In [6]:
dataframe_new.loc[['a','b']]

   Column1  Column2
a        0        1
b        2        3

In [7]:
dataframe_new.loc[['a'],['Column1']]

   Column1
a        0

In [8]:
dataframe_new.iloc[[0],[1]]

   Column2
a        1

In [9]:
dataframe_new

   Column1  Column2
a        0        1
b        2        3
c        4        5
d        6        7
e        8        9

In [10]:
dataframe_new>5

   Column1  Column2
a    False    False
b    False    False
c    False    False
d     True     True
e     True     True

In [11]:
boolean_df= dataframe_new>5

In [12]:
dataframe_new[boolean_df]

   Column1  Column2
a      NaN      NaN
b      NaN      NaN
c      NaN      NaN
d      6.0      7.0
e      8.0      9.0

In [13]:
dataframe_new[dataframe_new>5]

   Column1  Column2
a      NaN      NaN
b      NaN      NaN
c      NaN      NaN
d      6.0      7.0
e      8.0      9.0

In [14]:
x=dataframe_new['Column1']>5
dataframe_new['Column1']>5

a    False
b    False
c    False
d     True
e     True
Name: Column1, dtype: bool

In [15]:
dataframe_new["Column1"]
#error marked for elements of column greater than 5

a    0
b    2
c    4
d    6
e    8
Name: Column1, dtype: int32

In [16]:
dataframe_new

   Column1  Column2
a        0        1
b        2        3
c        4        5
d        6        7
e        8        9

In [17]:
dataframe_new.reset_index()

  index  Column1  Column2
0     a        0        1
1     b        2        3
2     c        4        5
3     d        6        7
4     e        8        9

In [18]:
dataframe_new["index"]

KeyError: 'index'

In [19]:
#outside=[['G1','G1','G1','G2','G2','G2'],[1,2,3,1,2,3]]
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
#hier_index=list(zip(*outside))
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [21]:
pd.DataFrame(np.arange(12).reshape(6,2),hier_index,["Column1","Column2"])

      Column1  Column2
G1 1        0        1
   2        2        3
   3        4        5
G2 1        6        7
   2        8        9
   3       10       11

In [22]:
list(zip(*outside))

[('G', 'G', 'G', 'G', 'G', 'G'), ('1', '1', '1', '2', '2', '2')]

In [23]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [24]:
pd.DataFrame(np.arange(12).reshape(6,2),hier_index)

       0   1
G1 1   0   1
   2   2   3
   3   4   5
G2 1   6   7
   2   8   9
   3  10  11

In [25]:
import pandas as pd

In [ ]:
pd.DataFrame()